/* ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 45px;
}
 */

a {
  margin-right: 45px;
}
mat-toolbar {
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
}

.active {
 color: firebrick;
 text-decoration: underline;
}

.login {
  float: right;
  //margin-right: 5px;
}


@media (max-width: 600px) {
  /* mat-toolbar {
     flex-wrap: wrap;
  } */
  a {
    margin-right: 15px;
  }
/*   ul {
    // list-style: none;
    margin: none;
  }
  li {
    //display: inline-block;
    margin-right: 10px;
  } */
  .logo-big {
    display: none;
  }
/*   .logo-small {
    margin-left: none;
    margin-right: none;
  } */
}

/* @media (min-width: 400px) {
  .logo-small {
    display: none;
  }
} */
