<mat-divider style="margin-top: 3%; " ></mat-divider>
  <div style="margin: 3%; ">

    <div class="inner">
      <div  [ngClass]="showLearn ? 'yes':'no'">
        <button class="btn"  (click)="showDiv('learn')">
          <label> Comment utiliser se site</label>
          <mat-icon *ngIf="showLearn">expand_less</mat-icon>
          <mat-icon *ngIf="!showLearn">expand_more</mat-icon>
        </button>
      <div *ngIf="showLearn">
        <p matBadge="i" class="corner">
          Site d'apprentissage et de traduction de la Bible en Ghɔmala.
          Clickez sur Lányə au menu pour accedez à la page d'apprentissage et sur Tútə pour
          accedez à la page de traduction.<br>
          Ces deux pages ont un button compare qui affiche une
          version francaise ou anglaise, qui aiderait a la traduction ou à l'apprentissage.
          <br>
          La page Tútə a les buttons: <br>
             - Button <strong>Editer</strong> pour changer les textareas du mode read-only en mode
              read and write <br>
             - Button <strong>ENREGISTRER</strong> pour sauvegarder le texte ou changements apporter
             aux textes des textareas <br>
             - Button <strong>Retarblir</strong> pour annuler tout les changements faites
             aux textes des textareas <br>
             - Nous avons aussi les buttons pour affichez le clavier, pour telecharger les un chapitre
             en fichier(text et audio), pour commencer un versé et titre dans le texte

        </p>

         <ol>
          <strong> How to get the max of this website?</strong> ...
         </ol>
      </div>
    </div>

     <div [ngClass]="showContact ? 'yes':'no'">
      <button class="btn" (click)="showDiv('contact')">
        <label>Contact</label>
        <mat-icon *ngIf="showContact">expand_less</mat-icon>
        <mat-icon *ngIf="!showContact">expand_more</mat-icon>
      </button>
      <div *ngIf="showContact" class="bgl">
        <mat-list class="corner text" class="corner">
          <mat-list-item>
            <mat-icon>mail</mat-icon>fokofotso@gmail.com
          </mat-list-item>
          <mat-list-item>
            <mat-icon>chat_bubble_outline</mat-icon>
             00237 6 71 44 74 32 Ke
            0049 1577 2480506
          </mat-list-item>
          <mat-list-item>
            <mat-icon>paypal</mat-icon>  sergffs@yahoo.com, MTN Money: 6 71 44 74 32
          </mat-list-item>
        </mat-list>
      </div>
     </div>

     <div [ngClass]="showAbout ? 'yes':'no'">
      <button class="btn"  (click)="showDiv('about')">
        <label>A propos</label>
          <mat-icon *ngIf="showAbout">expand_less</mat-icon>
          <mat-icon *ngIf="!showAbout">expand_more</mat-icon>
      </button>
      <div *ngIf="showAbout" class="bgl">
        <p class="corner">
        Site d'apprentissage(Lányə) et de traduction(Tútə) de la Bible en Ghɔmala

  <!--        Notre but: Rentre l'apprentissage du Ghɔmala accessile et facil pour tous.-->
        </p>
      </div>
    </div>
  </div>

    <!-- Copyright -->
  <!--   <i id="copyright" class="footer-copyright">
      © 2020 Copyright: <a href="https://ghomala.com/">Ghɔmala.com</a>
    </i> -->
  </div>


