 <div class="menu-top">
    <div>
      <mat-form-field>
       <mat-label>Livre</mat-label>
        <mat-select [(value)]="currentBookID" (selectionChange)="onBookSelection($event)">
            <div *ngFor="let testament of bookNames let j = index">
             <mat-option *ngFor="let sc of testament let i = index" [value]="i+1+j*39">
              {{ sc }}
             </mat-option>
           </div>
        </mat-select>
      </mat-form-field>
      </div>
      <div>
        <mat-form-field>
         <mat-label>Version</mat-label>
          <mat-select [(value)]="currentBibelVersion"
          (selectionChange)="onBibleVersionsSelection($event)">
            <mat-option *ngFor="let sv of bibleVersions" [value]="sv">
              {{ sv }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="chNberOfBook">
      <button *ngFor="let item of chapterNumbersOfBook"
       (click)="onChapterChange(item)"
       [ngClass]="currentChapterNumber === item ? 'btn-selected' : 'btn'">
          {{ item }}
      </button>
    </div>

  <div class="menu">
    <button class="showBookChapter"  (click)="playAudio()">
      <p> {{ bookName }} </p>
      <p style="color: rgb(121, 119, 119); margin-left: 6px;"> {{ chapterName }} </p>
      <mat-icon *ngIf="paused" class="play">volume_up</mat-icon>
      <mat-icon *ngIf="!paused" class="pause">pause_circle_outline</mat-icon>
    </button>

    <button class="edit-save">
      <button *ngIf="!isEditMode" mat-raised-button color="warn" (click)="resetChapter()">
        Rétablir
       <mat-icon>save</mat-icon>
      </button>
      <button *ngIf="isEditMode" mat-raised-button color="primary" (click)="edit()">
        Éditer
       <mat-icon>edit</mat-icon>
      </button>
   </button>

    <button mat-raised-button (click)="compareBtn()">
         Comparer
    </button>
 </div>

 <div class='middle' *ngIf="this.chapterGhomala">
  <table>
    <tr *ngFor="let ind of editChapterLength">
     <!-- <div  class="verse" *ngFor="let verse of chapterGhomala"> -->
      <td  [ngClass]="compare? 'text2' : 'text'">
        <mat-form-field *ngIf="ind === -1 && chapterGhomala.Text" class="mform" appearance="fill">
          <mat-label class="verseID">{{ chapterGhomala.Title }}</mat-label>
          <textarea matInput
          cdkTextareaAutosize
          [(ngModel)]="chapterGhomala.Text"
           class="verseEdit"
           [readonly]="isEditMode">
              {{chapterGhomala.Text}}
          </textarea>
          <app-keyboard *ngIf="showKeyboard && ind === -1"
          [inputWords] = "chapterGhomala.Text"
          (outputWords)= "onNewKeyboardWords($event, ind)">
          </app-keyboard>
       </mat-form-field>

      <mat-form-field *ngIf="ind > -1 && ind < chapterGhomala.Verses.length" class="mform">
        <mat-label class="verseID">{{  chapterGhomala.Verses[ind].ID  }}</mat-label>
        <textarea  matInput
        cdkTextareaAutosize
        *ngIf="addVerseTitle"
         class="verseEdit"
          [readonly]="isEditMode">
          {{  chapterGhomala.Verses[ind].Title  }}
        </textarea>
        <textarea matInput
        cdkTextareaAutosize
        [(ngModel)]="chapterGhomala.Verses[ind].Text"
         class="verseEdit"
         [readonly]="isEditMode">
                {{ chapterGhomala.Verses[ind].Text }}
        </textarea>
        <app-keyboard *ngIf="showKeyboard && ind > -1"
          [inputWords] = "chapterGhomala.Verses[ind].Text"
          (outputWords)= "onNewKeyboardWords($event, ind)">
        </app-keyboard>
      </mat-form-field>


     </td>

     <td class="verse">
         <p *ngIf="ind === -1 && chapterGhomala.Text && compare === true" class="verseText">
              {{'Introduction'}}
          </p>
          <p class="verseText"  *ngIf="ind > -1 && compare === true && ind < chapterOther.length">
            <span class="verseID">{{ chapterOther[ind].ID }}</span>
            {{ chapterOther[ind].Text }}
             <!-- use function/method -->
          </p>
      </td>
    </tr>
   </table>
 </div>


<!-- <div class="middle">
 <div class="text">
 ---  <div class="verse" *ngFor="let verse of chapterGhomala">
    {{verse.ID + " " + verse.Text }}
  </div> ---
    <textarea [(ngModel)]="translatedText"
              (ngModelChange)="updateTranslatedText()">{{translatedText}}
    </textarea>
 </div>
 <div  *ngIf="compare === true" class="text2">
     <div class="verse" *ngFor="let verse of chapter">
       {{verse.ID + " " + verse.Text }}
     </div>
 </div>
 </div> -->
 <div class="menu">
  <button mat-raised-button color="primary"  (click)="showKeyboard = !showKeyboard">
       <mat-icon class="mat-36">keyboard</mat-icon>
  </button>
  <button class="edit-save">
     <button *ngIf="!isEditMode" mat-raised-button color="warn" (click)="saveChapter()">
       Envoyer
      <mat-icon>save</mat-icon>
     </button>
     <button *ngIf="isEditMode" mat-raised-button color="primary" (click)="edit()">
       Éditer
      <mat-icon>edit</mat-icon>
     </button>
  </button>

  <button mat-raised-button (click)="addVerseTitle = !addVerseTitle">
    Add Title
  </button>

  <button mat-raised-button >
    Upload File
    <mat-icon>attach_file</mat-icon>
  </button>
  <button mat-raised-button >
    Upload Audio
    <mat-icon>attach_file</mat-icon>
  </button>
  <button mat-raised-button >
    Télecharger
    <mat-icon>file_download</mat-icon>
  </button>
</div>

<div class="menu-bottom">
  <button mat-raised-button (click)="previous()">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button mat-raised-button (click)="next()">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
