
<ngx-spinner
 bdColor="rgba(51,51,51,0.8)"
 size="medium"
 color="#fff"
 type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Chargement...</p>
</ngx-spinner>

 <div class="menu-top">
    <div>
      <mat-form-field>
       <mat-label>Livre</mat-label>
        <mat-select [(value)]="currentBookID" (selectionChange)="onBookSelection($event)">
            <div *ngFor="let testament of bookNames let j = index">
             <mat-option *ngFor="let sc of testament let i = index" [value]="i+j*39">
              {{ sc }}
             </mat-option>
           </div>
        </mat-select>
      </mat-form-field>
      </div>
      <div>
        <mat-form-field>
         <mat-label>Ghomala-Version</mat-label>
          <mat-select [(value)]="curGhomalaVersion"
          (selectionChange)="onGhomalaVersionsSelection($event)">
            <mat-option *ngFor="let vg of VersionsGhomala" [value]="vg">
              {{ vg }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
         <mat-label>Version</mat-label>
          <mat-select [(value)]="currentBibelVersion"
          (selectionChange)="onBibleVersionsSelection($event)">
            <mat-option *ngFor="let sv of bibleVersions" [value]="sv">
              {{ sv }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="chNberOfBook">
      <button *ngFor="let item of chapterNumbersOfBook"
       (click)="onChapterChange(item-1)"
       [ngClass]="currentChapterNumber === (item-1) ? 'btn-selected' : 'btn'">
          {{ item }}
      </button>
    </div>

  <div class="menu">
    <button class="showBookChapter"  (click)="playAudio()">
      <p> {{ bookName }} </p>
      <p style="color: rgb(121, 119, 119); margin-left: 6px;"> {{ chapterName }} </p>
      <mat-icon *ngIf="paused" class="play">volume_up</mat-icon>
      <mat-icon *ngIf="!paused" class="pause">pause_circle_outline</mat-icon>
    </button>

    <button class="edit-save">
      <button *ngIf="isEditMode === true" mat-raised-button color="warn" (click)="resetChapter()">
        Rétablir
       <mat-icon>save</mat-icon>
      </button>
      <button *ngIf="isEditMode === false" mat-raised-button color="primary" (click)="edit()">
        Éditer
       <mat-icon>edit</mat-icon>
      </button>
   </button>

    <button mat-raised-button (click)="compareBtn()">
         Comparer
         <mat-icon *ngIf="compare === false" style="color: chartreuse; size: 20;">touch_app</mat-icon>
         <mat-icon *ngIf="compare === true" style="color: coral;">close</mat-icon>
    </button>
 </div>

 <!-- 0 < chapterGhomala.Verses.length && , VersesFormArray.controls -->


 <mat-card class='middle'>
  <table>
    <tr>
      <td  [ngClass]="compare? 'text2' : 'text'">
       <mat-card>
        <mat-form-field  class="mform" appearance="fill">
          <mat-label>Titre</mat-label>
          <!-- <mat-label class="verseID">{{ chapterGhomala.Title }}</mat-label> -->
          <input matInput type="text" id="Title"
               placeholder="Entrer le titre du chapitre ici"
               [(ngModel)]="TitleText"
               (ngModelChange)="updateTitle()">
        </mat-form-field>
        <mat-form-field  class="mform" appearance="outline">
          <mat-label>Introduction</mat-label>
          <textarea matInput
           cdkTextareaAutosize cdkAutosizeMinRows="1"
           class="introductionEdit" [readonly]="!isEditMode"
           id="Introduction" placeholder="Entrer l'introdution du chapitre ici"
           [(ngModel)]="IntroductionText"
           (ngModelChange)="updateIntroduction()">

          </textarea>
        </mat-form-field>
        <div>
          <app-keyboard *ngIf="showKeyboard"
          [inputWords]="IntroductionText"
          (outputWords)="onNewKeyboardWords($event, -1)">
          </app-keyboard>
         </div>
       </mat-card>
      </td>

      <td>
        <p *ngIf="compare === true" class="verseText">
             {{'Introduction'}}
        </p>
      </td>
    </tr>
    <tr>
      <td   [ngClass]="compare? 'text2' : 'text'">
        <mat-card>
          <mat-form-field  class="mform" appearance="outline">
            <mat-label>Les Verses</mat-label>
            <textarea matInput
            cdkTextareaAutosize cdkAutosizeMinRows="6"
             class="verseEdit" [readonly]="!isEditMode"
             id="Verses" placeholder="Entrer les verses du chapitre ici"
             [(ngModel)]="VersesCompactText"
             (ngModelChange)="updateVerses()">
                   {{VersesCompactText}}
            </textarea>
          </mat-form-field>
            <app-keyboard *ngIf="showKeyboard"
            [inputWords]="VersesCompactText"
            (outputWords)="onNewKeyboardWords($event, 1)">
            </app-keyboard>
         </mat-card>
      </td>
      <td *ngIf="compare === true && 0 < chapterOther.length">
        <tr class="verse" *ngFor="let verse of chapterOther">
          <p class="verseText"  >
            <span class="verseID">{{ verse.ID }}</span>
              {{ verse.Text }}
             <!-- use function/method -->
          </p>
        </tr>
      </td>
    </tr>
   </table>
 <!--   <mat-card class="form-card">
    <mat-card-subtitle for="recorder"> Audio </mat-card-subtitle>
    <input type="file" multiple (change)="detectFiles($event)"
            accept="audio/*" capture id="audio"
           [formControl]="audioFormCtrl">
   </mat-card> -->

   <div class="menu">
   <mat-card-actions>
      <button *ngIf="isEditMode" mat-raised-button color="warn"  (click)="onSubmitForm()">
        ENREGISTRER
        <mat-icon>save</mat-icon>
      </button>
      <button *ngIf="!isEditMode" mat-raised-button color="primary" (click)="edit()">
        Éditer
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>

    <mat-card-actions>
      <button mat-raised-button (click)="resetPreviewWork()">
         Reset Preview
         <mat-icon>restore</mat-icon>
      </button>
    </mat-card-actions>

    <mat-card-actions *ngIf="isEditMode">
      <button mat-stroked-button color="primary"  (click)="addVerse('&#10;')">
         New Verse
      </button>
    </mat-card-actions>

    <mat-card-actions *ngIf="isEditMode">
     <button  mat-stroked-button color="primary"  (click)="addTitle('&#10;')">
         New Title
      </button>
    </mat-card-actions>
  </div>
 </mat-card>



<!-- <div class="middle">
 <div class="text">
 ---  <div class="verse" *ngFor="let verse of chapterGhomala">
    {{verse.ID + " " + verse.Text }}
  </div> ---
    <textarea [(ngModel)]="translatedText"
              (ngModelChange)="updateTranslatedText()">{{translatedText}}
    </textarea>
 </div>
 <div  *ngIf="compare === true" class="text2">
     <div class="verse" *ngFor="let verse of chapter">
       {{verse.ID + " " + verse.Text }}
     </div>
 </div>
 </div> -->
 <div class="menu2">
  <button mat-raised-button color="primary"  (click)="keyboard()">
       <mat-icon class="mat-36">keyboard</mat-icon>
  </button>
<!--   <button class="edit-save">
     <button *ngIf="isEditMode" mat-raised-button color="warn" (click)="saveChapter()">
       Envoyer
      <mat-icon>save</mat-icon>
     </button>
     <button *ngIf="isEditMode" mat-raised-button color="primary" (click)="edit()">
       Éditer
      <mat-icon>edit</mat-icon>
     </button>
  </button> -->


  <button mat-raised-button>
    Record voice
    <mat-icon>record_voice_over</mat-icon>
  </button>
  <button mat-raised-button>
    Upload Audio
    <mat-icon>attach_file</mat-icon>
  </button>
  <button mat-raised-button>
    Télecharger
    <mat-icon>file_download</mat-icon>
  </button>
</div>

 <div class="menu-bottom">
  <button mat-raised-button (click)="previous()">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button mat-raised-button (click)="next()">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>


<div class="form-group">
  <h5 for="recorder">Upload Audio</h5>
  <input type="file"  (change)="detectFiles($event)"
         class="form-control "accept="audio/*" capture id="recorder">
<!--          <audio id="player" controls></audio>-->
  <small >Click here to upload audio</small>
  <p class="text-success" *ngIf="uploaded">Audio Uploaded !</p>
</div>
<div class="col-md-offset-4">
  <button class="btn btn-warning mt-2 mb-2" [disabled]="disabledOpenRecord" (click)="onOpenRecord()"> SForm.Record</button>
</div>
<div  *ngIf="addPrononciation && !uploaded" class="row container btn-light">
  <div class="btn-toolbar">
    <button type="button"  id="record" class="btn   btn-success mr-2" [disabled]="record"
            (click)="onRecord($event)">Start</button>
    <button type="button"  id="stopRecord" class="btn  col-md-offset-2 btn-danger" [disabled]="stopRecord"
            (click)="onStop($event)">Stop</button>
  </div>
  <audio id="recordedAudio" controls></audio>

  <div class="btn-toolbar">
    <button type="button" id="SaveRecord" class="btn   btn-info mr-2"
            [disabled]="deleteOrSaveRecord"
            (click)="saveRecord()">Save</button>
    <button type="button" id="deleteRecord" class="btn btn-warning"
            [disabled]="deleteOrSaveRecord"
            (click)="onDelete()">Delete</button>
  </div>
</div>
