<div class="menu-top">
  <div>
   <mat-form-field>
    <mat-label>Livre</mat-label>
     <mat-select [(value)]="currentBookID" (selectionChange)="onBookSelection($event)">
         <div *ngFor="let testament of bookNames let j = index">
         <mat-option *ngFor="let sc of testament let i = index" [value]="i+j*39">
          {{ sc }}
          </mat-option>
        </div>
     </mat-select>
   </mat-form-field>
   </div>
   <div>
    <mat-form-field>
     <mat-label>Ghomala-Version</mat-label>
      <mat-select [(value)]="curGhomalaVersion"
      (selectionChange)="onGhomalaVersionsSelection($event)">
        <mat-option *ngFor="let vg of VersionsGhomala" [value]="vg">
          {{ vg }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

   <div>
     <mat-form-field>
      <mat-label>Version</mat-label>
       <mat-select [(value)]="currentBibelVersion"
       (selectionChange)="onBibleVersionsSelection($event)">
         <mat-option *ngFor="let sv of bibleVersions" [value]="sv">
           {{ sv }}
         </mat-option>
       </mat-select>
     </mat-form-field>
   </div>
</div>
<div class="chNberOfBook">
  <button *ngFor="let item of chapterNumbersOfBook"
   (click)="onChapterChange(item-1)"
   [ngClass]="currentChapterNumber === (item-1) ? 'btn-selected' : 'btn'">
         {{ item }}
  </button>
</div>
<div class="menu">
  <button class="showBookChapter"  (click)="playAudio()">
    <p> {{ bookChapterName }} </p>
    <mat-icon *ngIf="paused" class="play">volume_up</mat-icon>
    <mat-icon *ngIf="!paused" class="pause">pause_circle_outline</mat-icon>
  </button>



  <button class="btn-icon" *ngIf="compare" (click)="direction = !direction">
         <span *ngIf="direction">
            <mat-icon class="mat-25">
              view_agenda</mat-icon>
         </span>
         <span *ngIf="!direction">
          <mat-icon class="mat-25" style="transform: rotate(90deg)">
            view_agenda</mat-icon>
        </span>
  </button>
  <button mat-raised-button (click)="compare = !compare">
         Comparer
         <mat-icon *ngIf="compare === false" style="color: chartreuse; size: 20;">touch_app</mat-icon>
         <mat-icon *ngIf="compare === true" style="color: coral;">close</mat-icon>
  </button>
</div>
<div [ngClass]="direction? 'middle row' : 'middle column'">
  <div *ngIf="chapterGhomala" [ngClass]="compare && direction? 'text2' : 'text'">
   <!-- <div  class="verse" *ngFor="let verse of chapterGhomala"> -->
    <div class="verse">
      <h2 *ngIf="chapterGhomala.Title">{{ chapterGhomala.Title }}</h2>
     <p class="verseText" *ngIf="chapterGhomala.Introduction">
      {{  chapterGhomala.Introduction  }}
    </p>
   </div>
    <div class="verse" *ngFor="let verse of chapterGhomala.Verses, let i = index"
         (click)="saveVerse(i+1, '&#10;')">
      <h3 *ngIf="verse.Title">{{ verse.Title }}</h3>
     <p [ngClass]= "clickedVerses.indexOf(i+1) !== -1?'verseText1' : 'verseText'"
     *ngIf="verse.Text">
      <span class="verseID">{{  verse.ID  }}</span>
      {{ verse.Text }}
    </p>
    <p *ngIf="!verse.Text">
      <span class="verseID">{{  i  }}</span>
      {{ defaultVerse }}
    </p>
   </div>
 </div>
  <div  *ngIf="compare === true" [ngClass]="direction? 'b-left' : 'b-top'">
      <div class="verse" *ngFor="let verse of chapterOther, let i = index"
      (click)="saveVerse(i+1, '&#10;')">
        <p [ngClass]= "clickedVerses.indexOf(i+1) !== -1?
                         'verseText1' : 'verseText'">
          <span class="verseID">{{ verse.ID }}</span>
          {{ verse.Text }}
        </p>
      </div>
  </div>
 </div>
<!-- <div class="menu">
  <div>
    <button mat-raised-button (click)="compare = !compare">
      Comparer
    </button>
  </div>

</div> -->

<div class="menu-bottom">
    <button mat-raised-button (click)="previous()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-raised-button (click)="next()">
      <mat-icon>navigate_next</mat-icon>
    </button>
</div>

<div class="bottom">
  <label>
    <button mat-raised-button (click)="showSavedVersesFt()">
    <span> Versés Savegarder </span>
    <mat-icon  *ngIf="showSavedVerses" style="color: coral;">close</mat-icon>
    </button>
   </label>
    <textarea matInput *ngIf="showSavedVerses" [(ngModel)]="savedVerses"
    (ngModelChange)="savedVersesFt()" cdkTextareaAutosize cdkAutosizeMinRows="2">
    </textarea>
</div>


<!-- *ngFor="let testamentName of bookNames$ | async  let i = index;" -->
<!-- <app-menu *ngIf="bookNames$"
  [bookNames]="bookNames$ | async"
  [currentBookID] = currentBookID
  [currentChapterNumber] =  currentChapterNumber
  (selectedBookID) = "selectedBookID($event)"
  (selectedChapterNumber) = "selectedChapterNumber($event)"
  (selectedVersion) = "selectedVersion($event)">
</app-menu>
    [ngStyle]="{'color': j===0? 'brown':'rgb(244, 98, 8)'}" -->
