<div class="testament">
  <table  *ngFor="let testamenName of bookNames$ | async let j = index;">
    <caption class="title" *ngIf="j === 0">
      <h3>Nouveau Testament</h3>
    </caption>
    <caption class="title"  *ngIf="j === 1">
      <h3>Ancien Testament</h3>
    </caption>
    <tr *ngFor="let bookname of testamenName,  let i = index;">
        <td class="text" (click)="onBookSelection(i+j*38)">
            [{{i+1+j*39}}] {{"  "}} {{bookname}}
        </td>
        <td  (click)="playAudio(i+j*38)">
            <mat-icon class="btn">volume_up</mat-icon>
        </td>
        <td   (click)="edit(i+j*38)" >
            <mat-icon class="btn color">edit</mat-icon>
        </td>
    </tr>
  </table>
</div>
